<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TomatoFace™</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>TomatoFace™</h1>
    <a href="/run_facemesh"><button>🍅 Value Me</button></a>

    {% if show_image %}
        <h2>Here's how many tomatoes fit on your face:</h2>
        <img src="{{ url_for('static', filename='tomato_face.jpg') }}" alt="Tomato Face">
    {% endif %}
</body>
</html>
